CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
Testing/
cmake_install.cmake
Makefile
scripts/__pycache__
*.so
*.so.*
_out64
out32/*
out64/*
*.pyc
*.vcproj
*.sln
*.suo
*.vcxproj
*.sdf
*.filters
.*.swp
build
build32
dbuild
rbuild
build-android/external
*.config
*.creator
*.creator.user
*.user
*.autosave
*.files
*.includes
.vscode/
helper.cmake
Vulkan-Headers/
Vulkan-Tools/
Vulkan-ValidationLayers/
profiles/test/data/VP_LUNARG_test_generated_name.json
profiles/test/data/VP_LUNARG_test_api_generated.json
profiles/test/data/VP_LUNARG_test_combine_intersect.json
profiles/test/data/VP_LUNARG_test_combine_union.json
profiles/VP_LUNARG_desktop_baseline_2022.json
profiles/VP_LUNARG_desktop_portability_2022.json
PROFILES.md
schema/profiles-0.8-latest.json
library/include/
library/source/
library/include/vulkan/vulkan_profiles.h
library/include/vulkan/vulkan_profiles.hpp
library/include/vulkan/debug/vulkan_profiles.h
library/include/vulkan/debug/vulkan_profiles.hpp
library/source/vulkan_profiles.cpp
library/source/debug/vulkan_profiles.cpp
layer/profiles.cpp
